<a href="https://colab.research.google.com/github/jas-tang/datasci_2_manipulation/blob/main/datasci_2_manipulation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Loading Packages

In [ ]:
import pandas as pd
import numpy as np

#Base CSV
This is the CSV file without any modifications.

In [ ]:
df = pd.read_csv("/content/sample_data/healthcare_data_cleaning.csv")
df

,Patient Age,Gender,City of Residence,State of Residence,Has Insurance,Visited Last Month,Payment Method,Preferred Doctor,Disease Diagnosed,Medication Prescribed,Type of Appointment,Average Heart Rate,Average BP,Height (in cm),Weight (in kg),Payment Due ($),Last Visit (days ago),Visit Duration (mins),Number of Tests,Prescription Cost ($)
0,45,Other,West Brian,Kentucky,Yes,Yes,Insurance,Dr. Williams,Flu,Med_E,General,66,111,183,70,65.45721578126224,193,92,5,15.71751735532889
1,25,Female,East Jocelynfurt,Colorado,No,Yes,Card,Dr. Johnson,Flu,Med_B,Specialist,59,missing,174,58,430.68365678679174,195,missing,4,80.78647284463952
2,51,Other,South Lindseyland,Ohio,Yes,No,Cash,Dr. Williams,Covid-19,Med_D,General,79,119,161,56,315.0709305262176,missing,37,2,64.3921393009105
3,18,Female,Taylorfort,Pennsylvania,Yes,missing,Cash,Dr. Williams,Flu,Med_A,General,99,115,171,52,320.2998987723972,175,108,2,8.872859215315316
4,48,Female,Birdmouth,Montana,No,No,Insurance,Dr. Brown,None,Med_C,Specialist,93,89,186,87,264.2147372473319,188,113,3,77.48311304645532
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104995,74,Other,West Anthony,Oklahoma,Yes,No,Card,Dr. Williams,Covid-19,Med_E,Specialist,65,112,169,61,309.16444606680665,183,10,3,63.20478776719894
104996,37,Male,Mckeetown,Utah,Yes,No,Cash,Dr. Jones,Covid-19,Med_C,General,missing,111,165,67,missing,191,47,2,113.86764025370326
104997,51,Female,Lake Lisachester,Nebraska,Yes,Yes,Insurance,Dr. Williams,Allergy,Med_D,Follow-Up,89,118,179,71,320.8304180033907,172,39,3,35.622420232475356
104998,missing,Female,Heidiborough,missing,Yes,No,Cash,Dr. Smith,Covid-19,Med_A,Follow-Up,74,123,167,75,5.341231420036174,180,79,missing,124.4083409893742
104999,45,Female,South Jeffrey,Massachusetts,No,Yes,Cash,Dr. Brown,Allergy,Med_D,General,77,140,167,62,454.94983945860804,167,81,missing,87.91060149353706

#Identifying Missing Data
The missing data in this datafile isn't actually considered to be missing, but is considered a string called "missing". This code allows you to see every column that contains the string, "missing". Using the pandas.DataFrame.apply, with the index of axis = 1, we can append more functions to the dataframe. Axis = 1 refers to the column, allowing us to apply the function to each row. By using a lambda function, we can apply the function to each element of the series. Using pandas.DataFrame.astype, we can apply functions to a specific data type, and in our case, we used strings. Case being set to false allows us to ignore being case sensitive.

In [ ]:
substring = "missing"
df[df.apply(lambda row: row.astype(str).str.contains(substring, case=False).any(), axis=1)]

,Patient Age,Gender,City of Residence,State of Residence,Has Insurance,Visited Last Month,Payment Method,Preferred Doctor,Disease Diagnosed,Medication Prescribed,Type of Appointment,Average Heart Rate,Average BP,Height (in cm),Weight (in kg),Payment Due ($),Last Visit (days ago),Visit Duration (mins),Number of Tests,Prescription Cost ($)
1,25,Female,East Jocelynfurt,Colorado,No,Yes,Card,Dr. Johnson,Flu,Med_B,Specialist,59,missing,174,58,430.68365678679174,195,missing,4,80.78647284463952
2,51,Other,South Lindseyland,Ohio,Yes,No,Cash,Dr. Williams,Covid-19,Med_D,General,79,119,161,56,315.0709305262176,missing,37,2,64.3921393009105
3,18,Female,Taylorfort,Pennsylvania,Yes,missing,Cash,Dr. Williams,Flu,Med_A,General,99,115,171,52,320.2998987723972,175,108,2,8.872859215315316
5,62,missing,North Donald,Oklahoma,No,Yes,Card,Dr. Jones,Covid-19,Med_B,General,89,118,185,88,207.63803813727571,185,101,2,38.565586978808525
6,52,Male,Lake Jennifer,missing,No,No,Cash,missing,Covid-19,Med_A,Emergency,76,114,155,70,missing,187,41,4,85.4804962270874
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104990,52,Female,Lake April,Nebraska,No,No,Insurance,Dr. Johnson,Flu,missing,General,72,116,166,73,80.21182948231642,182,35,4,137.19185373324555
104991,70,Female,Johnsontown,Indiana,Yes,No,Card,Dr. Smith,Cold,Med_D,Emergency,77,missing,182,missing,188.60184820298264,168,107,1,21.006745688613698
104996,37,Male,Mckeetown,Utah,Yes,No,Cash,Dr. Jones,Covid-19,Med_C,General,missing,111,165,67,missing,191,47,2,113.86764025370326
104998,missing,Female,Heidiborough,missing,Yes,No,Cash,Dr. Smith,Covid-19,Med_A,Follow-Up,74,123,167,75,5.341231420036174,180,79,missing,124.4083409893742
104999,45,Female,South Jeffrey,Massachusetts,No,Yes,Cash,Dr. Brown,Allergy,Med_D,General,77,140,167,62,454.94983945860804,167,81,missing,87.91060149353706

This code allows us to sum up how many times the string "missing" appears in each column. Pandas.dataframe.eq allows us to compare each element in the dataframe to the string "missing. We then append the sum function. The second part of the code uses a list of the m variable we specified before, and the values of each column as a numpy array. Columns=m allows us to set the column name for the new dataframe. m.index provides the column name from the m variable.

In [ ]:
m=df.eq('missing').sum()
pd.DataFrame([m.values],columns=m.index)

,Patient Age,Gender,City of Residence,State of Residence,Has Insurance,Visited Last Month,Payment Method,Preferred Doctor,Disease Diagnosed,Medication Prescribed,Type of Appointment,Average Heart Rate,Average BP,Height (in cm),Weight (in kg),Payment Due ($),Last Visit (days ago),Visit Duration (mins),Number of Tests,Prescription Cost ($)
0,5249,5261,5227,5248,5246,5245,5202,5247,5271,5262,5250,5278,5255,5244,5264,5229,5259,5276,5272,5216

#Replacing "missing" with NaN

This code replaces a string with NaN, or actual missing values. We then used the pandas.DataFrame.replace function. We then use the numpy function to replace a value with NaN. inplace=True lets us modify our dataframe directly.

In [ ]:
df.replace('missing', pd.np.nan, inplace=True)
df

<ipython-input-98-31a068059994>:1: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  df.replace('missing', pd.np.nan, inplace=True)

,Patient Age,Gender,City of Residence,State of Residence,Has Insurance,Visited Last Month,Payment Method,Preferred Doctor,Disease Diagnosed,Medication Prescribed,Type of Appointment,Average Heart Rate,Average BP,Height (in cm),Weight (in kg),Payment Due ($),Last Visit (days ago),Visit Duration (mins),Number of Tests,Prescription Cost ($)
0,45,Other,West Brian,Kentucky,Yes,Yes,Insurance,Dr. Williams,Flu,Med_E,General,66,111,183,70,65.45721578126224,193,92,5,15.71751735532889
1,25,Female,East Jocelynfurt,Colorado,No,Yes,Card,Dr. Johnson,Flu,Med_B,Specialist,59,NaN,174,58,430.68365678679174,195,NaN,4,80.78647284463952
2,51,Other,South Lindseyland,Ohio,Yes,No,Cash,Dr. Williams,Covid-19,Med_D,General,79,119,161,56,315.0709305262176,NaN,37,2,64.3921393009105
3,18,Female,Taylorfort,Pennsylvania,Yes,NaN,Cash,Dr. Williams,Flu,Med_A,General,99,115,171,52,320.2998987723972,175,108,2,8.872859215315316
4,48,Female,Birdmouth,Montana,No,No,Insurance,Dr. Brown,None,Med_C,Specialist,93,89,186,87,264.2147372473319,188,113,3,77.48311304645532
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104995,74,Other,West Anthony,Oklahoma,Yes,No,Card,Dr. Williams,Covid-19,Med_E,Specialist,65,112,169,61,309.16444606680665,183,10,3,63.20478776719894
104996,37,Male,Mckeetown,Utah,Yes,No,Cash,Dr. Jones,Covid-19,Med_C,General,NaN,111,165,67,NaN,191,47,2,113.86764025370326
104997,51,Female,Lake Lisachester,Nebraska,Yes,Yes,Insurance,Dr. Williams,Allergy,Med_D,Follow-Up,89,118,179,71,320.8304180033907,172,39,3,35.622420232475356
104998,NaN,Female,Heidiborough,NaN,Yes,No,Cash,Dr. Smith,Covid-19,Med_A,Follow-Up,74,123,167,75,5.341231420036174,180,79,NaN,124.4083409893742
104999,45,Female,South Jeffrey,Massachusetts,No,Yes,Cash,Dr. Brown,Allergy,Med_D,General,77,140,167,62,454.94983945860804,167,81,NaN,87.91060149353706

#Removing Duplicates

This code allows us to remove duplicates using the pandas.DataFrame.drop_duplicates function. inplace=True lets us modify our dataframe directly.

In [ ]:
df.drop_duplicates(inplace=True)
df

,Patient Age,Gender,City of Residence,State of Residence,Has Insurance,Visited Last Month,Payment Method,Preferred Doctor,Disease Diagnosed,Medication Prescribed,Type of Appointment,Average Heart Rate,Average BP,Height (in cm),Weight (in kg),Payment Due ($),Last Visit (days ago),Visit Duration (mins),Number of Tests,Prescription Cost ($)
0,45,Other,West Brian,Kentucky,Yes,Yes,Insurance,Dr. Williams,Flu,Med_E,General,66,111,183,70,65.45721578126224,193,92,5,15.71751735532889
1,25,Female,East Jocelynfurt,Colorado,No,Yes,Card,Dr. Johnson,Flu,Med_B,Specialist,59,NaN,174,58,430.68365678679174,195,NaN,4,80.78647284463952
2,51,Other,South Lindseyland,Ohio,Yes,No,Cash,Dr. Williams,Covid-19,Med_D,General,79,119,161,56,315.0709305262176,NaN,37,2,64.3921393009105
3,18,Female,Taylorfort,Pennsylvania,Yes,NaN,Cash,Dr. Williams,Flu,Med_A,General,99,115,171,52,320.2998987723972,175,108,2,8.872859215315316
4,48,Female,Birdmouth,Montana,No,No,Insurance,Dr. Brown,None,Med_C,Specialist,93,89,186,87,264.2147372473319,188,113,3,77.48311304645532
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104994,53,Female,Michelleburgh,South Dakota,No,No,Card,Dr. Williams,Flu,Med_B,Emergency,68,109,172,75,488.0316041186948,167,25,5,69.54228578689846
104995,74,Other,West Anthony,Oklahoma,Yes,No,Card,Dr. Williams,Covid-19,Med_E,Specialist,65,112,169,61,309.16444606680665,183,10,3,63.20478776719894
104996,37,Male,Mckeetown,Utah,Yes,No,Cash,Dr. Jones,Covid-19,Med_C,General,NaN,111,165,67,NaN,191,47,2,113.86764025370326
104997,51,Female,Lake Lisachester,Nebraska,Yes,Yes,Insurance,Dr. Williams,Allergy,Med_D,Follow-Up,89,118,179,71,320.8304180033907,172,39,3,35.622420232475356
104998,NaN,Female,Heidiborough,NaN,Yes,No,Cash,Dr. Smith,Covid-19,Med_A,Follow-Up,74,123,167,75,5.341231420036174,180,79,NaN,124.4083409893742

#Removing White Space and Special Characters

This code created a function called cleaning. Within this function is another function called clean_name, which we will pass one argument being 'name' which will be the column name. Then, cleaned_name uses the re.sub function, which replaces the strings annoted inside. They are replaced with an empty string. The .lower converts the cleaned name to lower case. The next line of code, df.columns allows us to pass through the columns attribute with the functions we created before.

In [ ]:
def cleaning(df):
    def clean_name(name):
        cleaned_name = re.sub(r'[^a-zA-Z0-9]', '', name)
        return cleaned_name.lower()

    df.columns = [clean_name(col) for col in df.columns]
    return df

df = cleaning(df)
df

,patientage,gender,cityofresidence,stateofresidence,hasinsurance,visitedlastmonth,paymentmethod,preferreddoctor,diseasediagnosed,medicationprescribed,typeofappointment,averageheartrate,averagebp,heightincm,weightinkg,paymentdue,lastvisitdaysago,visitdurationmins,numberoftests,prescriptioncost
0,45,Other,West Brian,Kentucky,Yes,Yes,Insurance,Dr. Williams,Flu,Med_E,General,66,111,183,70,65.45721578126224,193,92,5,15.71751735532889
1,25,Female,East Jocelynfurt,Colorado,No,Yes,Card,Dr. Johnson,Flu,Med_B,Specialist,59,NaN,174,58,430.68365678679174,195,NaN,4,80.78647284463952
2,51,Other,South Lindseyland,Ohio,Yes,No,Cash,Dr. Williams,Covid-19,Med_D,General,79,119,161,56,315.0709305262176,NaN,37,2,64.3921393009105
3,18,Female,Taylorfort,Pennsylvania,Yes,NaN,Cash,Dr. Williams,Flu,Med_A,General,99,115,171,52,320.2998987723972,175,108,2,8.872859215315316
4,48,Female,Birdmouth,Montana,No,No,Insurance,Dr. Brown,None,Med_C,Specialist,93,89,186,87,264.2147372473319,188,113,3,77.48311304645532
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104994,53,Female,Michelleburgh,South Dakota,No,No,Card,Dr. Williams,Flu,Med_B,Emergency,68,109,172,75,488.0316041186948,167,25,5,69.54228578689846
104995,74,Other,West Anthony,Oklahoma,Yes,No,Card,Dr. Williams,Covid-19,Med_E,Specialist,65,112,169,61,309.16444606680665,183,10,3,63.20478776719894
104996,37,Male,Mckeetown,Utah,Yes,No,Cash,Dr. Jones,Covid-19,Med_C,General,NaN,111,165,67,NaN,191,47,2,113.86764025370326
104997,51,Female,Lake Lisachester,Nebraska,Yes,Yes,Insurance,Dr. Williams,Allergy,Med_D,Follow-Up,89,118,179,71,320.8304180033907,172,39,3,35.622420232475356
104998,NaN,Female,Heidiborough,NaN,Yes,No,Cash,Dr. Smith,Covid-19,Med_A,Follow-Up,74,123,167,75,5.341231420036174,180,79,NaN,124.4083409893742

#Transforming Data

##Checking if tachycardia

This code created a function called check_tachycardia, passing through the variable x. x is set to convert to a float. "Yes" is returned if x >= high_hr, which is set to 100, if notm it'll return "No". Results in ValueError are also returned for "no" to account for non-numberic values or strings. Then, we apply the function on our dataframe, df.

In [ ]:
high_hr = 100

def check_tachycardia(x):
    try:
        x = float(x)  # Try to convert to a float
        return "Yes" if x >= high_hr else "No"
    except ValueError:
        return "No"  # Return "No" for non-numeric values

df["tachycardia"] = df["averageheartrate"].apply(check_tachycardia)
df

,patientage,gender,cityofresidence,stateofresidence,hasinsurance,visitedlastmonth,paymentmethod,preferreddoctor,diseasediagnosed,medicationprescribed,...,averageheartrate,averagebp,heightincm,weightinkg,paymentdue,lastvisitdaysago,visitdurationmins,numberoftests,prescriptioncost,tachycardia
0,45,Other,West Brian,Kentucky,Yes,Yes,Insurance,Dr. Williams,Flu,Med_E,...,66,111,183,70,65.45721578126224,193,92,5,15.71751735532889,No
1,25,Female,East Jocelynfurt,Colorado,No,Yes,Card,Dr. Johnson,Flu,Med_B,...,59,NaN,174,58,430.68365678679174,195,NaN,4,80.78647284463952,No
2,51,Other,South Lindseyland,Ohio,Yes,No,Cash,Dr. Williams,Covid-19,Med_D,...,79,119,161,56,315.0709305262176,NaN,37,2,64.3921393009105,No
3,18,Female,Taylorfort,Pennsylvania,Yes,NaN,Cash,Dr. Williams,Flu,Med_A,...,99,115,171,52,320.2998987723972,175,108,2,8.872859215315316,No
4,48,Female,Birdmouth,Montana,No,No,Insurance,Dr. Brown,None,Med_C,...,93,89,186,87,264.2147372473319,188,113,3,77.48311304645532,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104994,53,Female,Michelleburgh,South Dakota,No,No,Card,Dr. Williams,Flu,Med_B,...,68,109,172,75,488.0316041186948,167,25,5,69.54228578689846,No
104995,74,Other,West Anthony,Oklahoma,Yes,No,Card,Dr. Williams,Covid-19,Med_E,...,65,112,169,61,309.16444606680665,183,10,3,63.20478776719894,No
104996,37,Male,Mckeetown,Utah,Yes,No,Cash,Dr. Jones,Covid-19,Med_C,...,NaN,111,165,67,NaN,191,47,2,113.86764025370326,No
104997,51,Female,Lake Lisachester,Nebraska,Yes,Yes,Insurance,Dr. Williams,Allergy,Med_D,...,89,118,179,71,320.8304180033907,172,39,3,35.622420232475356,No
104998,NaN,Female,Heidiborough,NaN,Yes,No,Cash,Dr. Smith,Covid-19,Med_A,...,74,123,167,75,5.341231420036174,180,79,NaN,124.4083409893742,No

##Converting height in centimeters to inches

This code converts the height in cm to height in inches. It is similar to the checking if tachycardia code.

In [ ]:
def cmtoin(x):
  try:
    x = float(x)
    return x/2.54 if x else "Unavailable"
  except ValueError:
    return "Unavailable"

df["heightininches"] = df["heightincm"].apply(cmtoin)
df

,patientage,gender,cityofresidence,stateofresidence,hasinsurance,visitedlastmonth,paymentmethod,preferreddoctor,diseasediagnosed,medicationprescribed,...,averagebp,heightincm,weightinkg,paymentdue,lastvisitdaysago,visitdurationmins,numberoftests,prescriptioncost,tachycardia,heightininches
0,45,Other,West Brian,Kentucky,Yes,Yes,Insurance,Dr. Williams,Flu,Med_E,...,111,183,70,65.45721578126224,193,92,5,15.71751735532889,No,72.047244
1,25,Female,East Jocelynfurt,Colorado,No,Yes,Card,Dr. Johnson,Flu,Med_B,...,NaN,174,58,430.68365678679174,195,NaN,4,80.78647284463952,No,68.503937
2,51,Other,South Lindseyland,Ohio,Yes,No,Cash,Dr. Williams,Covid-19,Med_D,...,119,161,56,315.0709305262176,NaN,37,2,64.3921393009105,No,63.385827
3,18,Female,Taylorfort,Pennsylvania,Yes,NaN,Cash,Dr. Williams,Flu,Med_A,...,115,171,52,320.2998987723972,175,108,2,8.872859215315316,No,67.322835
4,48,Female,Birdmouth,Montana,No,No,Insurance,Dr. Brown,None,Med_C,...,89,186,87,264.2147372473319,188,113,3,77.48311304645532,No,73.228346
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104994,53,Female,Michelleburgh,South Dakota,No,No,Card,Dr. Williams,Flu,Med_B,...,109,172,75,488.0316041186948,167,25,5,69.54228578689846,No,67.716535
104995,74,Other,West Anthony,Oklahoma,Yes,No,Card,Dr. Williams,Covid-19,Med_E,...,112,169,61,309.16444606680665,183,10,3,63.20478776719894,No,66.535433
104996,37,Male,Mckeetown,Utah,Yes,No,Cash,Dr. Jones,Covid-19,Med_C,...,111,165,67,NaN,191,47,2,113.86764025370326,No,64.960630
104997,51,Female,Lake Lisachester,Nebraska,Yes,Yes,Insurance,Dr. Williams,Allergy,Med_D,...,118,179,71,320.8304180033907,172,39,3,35.622420232475356,No,70.472441
104998,NaN,Female,Heidiborough,NaN,Yes,No,Cash,Dr. Smith,Covid-19,Med_A,...,123,167,75,5.341231420036174,180,79,NaN,124.4083409893742,No,65.748031

##Aggregating Data

This code groups average blood pressure and aggregates the mean of heights in inches. This will see the average height listed for various blood pressure rates.

In [ ]:
df.groupby("averagebp").agg('mean')

<ipython-input-120-16dc2c81e327>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby("averagebp").agg('mean')

           heightininches
averagebp
100             68.848937
101             68.668586
102             68.688863
103             68.797330
104             68.780030
...                   ...
95              68.774028
96              68.702458
97              68.881671
98              68.743378
99              68.720628

[61 rows x 1 columns]

This code removes the NaN values and replaces them with None.

In [ ]:
df.dropna()

,patientage,gender,cityofresidence,stateofresidence,hasinsurance,visitedlastmonth,paymentmethod,preferreddoctor,diseasediagnosed,medicationprescribed,...,averagebp,heightincm,weightinkg,paymentdue,lastvisitdaysago,visitdurationmins,numberoftests,prescriptioncost,tachycardia,heightininches
0,45,Other,West Brian,Kentucky,Yes,Yes,Insurance,Dr. Williams,Flu,Med_E,...,111,183,70,65.45721578126224,193,92,5,15.71751735532889,No,72.047244
4,48,Female,Birdmouth,Montana,No,No,Insurance,Dr. Brown,None,Med_C,...,89,186,87,264.2147372473319,188,113,3,77.48311304645532,No,73.228346
7,52,Male,Vanessaburgh,Connecticut,Yes,Yes,Insurance,Dr. Williams,Flu,Med_E,...,129,170,47,387.08504353508863,179,108,2,76.96592632951703,No,66.929134
8,20,Female,West Briannabury,Montana,No,Yes,Card,Dr. Jones,Flu,Med_C,...,108,173,86,172.5483427968999,174,91,2,142.31710767890775,No,68.110236
11,40,Female,Jonesmouth,Rhode Island,No,No,Card,Dr. Jones,Covid-19,Med_E,...,106,166,82,299.1426761400895,193,92,1,77.71536034261702,No,65.354331
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104992,44,Female,Port Tracistad,Alaska,Yes,No,Insurance,Dr. Brown,Cold,Med_A,...,93,178,66,462.56567087397013,189,55,3,59.74631825267156,No,70.078740
104993,42,Female,West Annaport,Florida,Yes,No,Cash,Dr. Johnson,Covid-19,Med_D,...,129,171,78,131.35632576282202,185,22,6,104.43016736588544,No,67.322835
104994,53,Female,Michelleburgh,South Dakota,No,No,Card,Dr. Williams,Flu,Med_B,...,109,172,75,488.0316041186948,167,25,5,69.54228578689846,No,67.716535
104995,74,Other,West Anthony,Oklahoma,Yes,No,Card,Dr. Williams,Covid-19,Med_E,...,112,169,61,309.16444606680665,183,10,3,63.20478776719894,No,66.535433
104997,51,Female,Lake Lisachester,Nebraska,Yes,Yes,Insurance,Dr. Williams,Allergy,Med_D,...,118,179,71,320.8304180033907,172,39,3,35.622420232475356,No,70.472441

This code looks at the averagebp and lists the average of height in inches as well as the sum of the duration of visit duration in minutes.

In [ ]:
df.groupby("averagebp").agg(
        meanheight=pd.NamedAgg(column="heightininches", aggfunc="mean"),
    sumduration=pd.NamedAgg(column="visitdurationmins", aggfunc="sum")
)

           meanheight                                        sumduration
averagebp
100         68.848937  2073110583993651095728383328361003851644910774...
101         68.668586  1064211982278679441177622116309060642610072973...
102         68.688863  9792178111471011071781134237310399782835611153...
103         68.797330  1108155113211165335689576347349557459111169711...
104         68.780030  5310652584626271775158751811795573227101654641...
...               ...                                                ...
95          68.774028  1699171577775084555644732910247875678120201817...
96          68.702458  2483113931483544710767323413107109888653210476...
97          68.881671  7030102961510471704042819342677994262911544116...
98          68.743378  3019697027935345317087558511884215311710094791...
99          68.720628  8685100891188964473125531081881727284321083510...

[61 rows x 2 columns]

This code creates a pivot table using the index of the state of residence. The column is the number of tests. The value takes the sum of the visit durations.

In [ ]:
pivot_data = df.pivot_table(index='stateofresidence', columns='numberoftests', values='visitdurationmins', aggfunc='sum')
pivot_data

numberoftests,0,1,10,2,3,4,5,6,7,8,9
stateofresidence,,,,,,,,,,,
Alabama,7486544844583774391247,1733664723242844122172843317100658018457711537...,NaN,7731103969457903118621089295405874531141207854...,4827103117141199841138935914432114842850441191...,1204575181021058411560103237577581031018396314...,3279100912370118373484221128640189478664795817...,9787283148284639108276182171101424537755115321...,4211765942655426750118119661381171100642471751...,4947107568085488718164577106971111927186123285271,20105
Alaska,6111339911181934,4425906823445136486986446889399233155286703410...,NaN,4913151314119108982585385111874991131996116736...,3889376914103114193459241330101434646534870366...,7211377463155487812491152031258585641059553151...,5153396711781743649898810207585791031023226941...,6943101967167842646461054612011770441358359859...,3826135891759217536112901061148689323081578723...,4023346913723737498223511510347753359112799476,11159
Arizona,37157511111710837471112814678811468899341111,1041147210393108401231949399841571447775110752...,NaN,4910613421085819403344409911597113419970747850...,9566586333100488110365759510610411551001196212...,4752161167151853261610424106985341939621533446...,5114841327176910749596045401410254101814047838...,5811719113597452115803566196211131691011597805...,5477912933738342823529587761100106248511991471...,1181011026410411774365965987095956071109193889,882011529
Arkansas,118119941158553744355,2854119356113655357105201104168112984011460667...,47,6998418457227745185988591087510339161107331986...,1194528213110959363911195100731155711768269515...,4164721161024386637549378051118122111423677449...,1039836587195276410775649670471157311474110108...,3210367652453787473568810294104471174040108665...,9534853757511811460363613575696249878100616111...,52112758547871374391109312026939124296958,49114
California,7112531041071151298110,8876387421514911710990893296581048346438665552...,NaN,3711270119291033511373118366225811517552412048...,1162040115894531024779525655404396742740822241...,1693651053410611998803532984571308648721098710...,6310757223416107411253479785651184868881110461...,1161052111773581095911111113100882315117738473...,5494120101081198685499250897887652150286448615...,5241120383975164614131062410115952112534512048,3780118
Colorado,54110491142638,7057911121027815831213411194637106119741109299...,NaN,1138392845127373763457437921011615395663467105...,9311614113326437632196664154120347610545339429...,1181132662247311417103492532381187598910404111...,6786732210614910465119610882633151115971823102...,8194386225791015112181125966831009112488512021...,1191199671885412974782110169788787016987223357...,4710610068935573120612662512068,8110863852561
Connecticut,8195491162972172241,2652698311272431810212168626653835512024702684...,NaN,1081163188455610333403492754311911310053101120...,1034192871312807020855060724911811815527910683...,1101159321287649233711071551196479101206180513...,5151271780815634662135741104359136659246411459...,1029343652547142637872058928245110571927531112...,5821631066291234653381079146932961339310442684...,106716620261511058712427544340811110911388,7672
Delaware,34101120496769494953786569,5191120105788955909220409881166817683211836116...,NaN,5287105681870973011093111642083107171010610646...,5211096501764107561435736747741076739637480504...,7352915948211081112536261886802989175131181106...,6511216102321189311530291156449111451054683120...,4721598921104151920246097136944106321075311588...,6868862095721032468201034794254720612925114100...,1062558213547905351105684410738105105441176937,24
Florida,4610068502981,6641105614880106675458403542797955363355516877...,NaN,8451859214573123221511711115361611164246108795...,2810399608129361843176213118685497107198890769...,1111105535109274717692248719662115962584237092...,1019151875373455510993423623928538109107351012...,9615514580695385811019585117116596897735782866...,2269901019517107929357447358116845910591094811...,9772574871171021207610191343439277780,3910
Georgia,121098319117,7893917011247105491071035349441208658117103786...,NaN,8553501121044619338014551004495509626836998729...,4349101112106111453782841288957112056481072511...,8971107301624109633692826452402968431763175679...,1201007669109541970574247102190189956677110614...,3233674711888491181176596411153141724870616649...,9680311105263105917812645244115311101168595105...,63864069646810191931061711813563114862117172525,78472542
Hawaii,11279,5815221548287883665411335701663391617437031772...,31,1161049908062119991181966968111175105894585111...,1539299335468711595979712874771962941904121614...,3676729911980359439726081876037319796101586653...,1957971164612238821116106701131624411207317701...,1781292193681021123711374164074120143748388851...,5360662241576393112131192528929869351740771141...,708744305129621614458688366011010586,87593991355731
Idaho,262076104105243910927,1067809333454011295918355692390273327110197414...,NaN,1169653271895991055116603344565689371211215109...,6224937586115515310611381605240605342554593199...,1095260131008910691992279984694537125206511290...,1311810345241187364755316536260687610550763179...,9966609351581061620376128115399710371102119468...,9924405518109916686488827511346110741054058837...,5082117408626474759586863111321137121,9362110
Illinois,7510845,1186018842110102663164411055588774088110384148...,NaN,9315424511109215366308358982511627995110859812...,2984110101723235423561780114465051968930375592...,1097501732196654469224691021056767941001208163...,6938745312445929446997288970394496631794471164...,1028514172528893740100511311391147921112119893...,5585346441105110931511612066135212822278861449...,40431115563395492589517524593950,5550
Indiana,2410550552256344719112457383,1016047609986336552101285777764883671104691776...,NaN,1021673201764719010310214103701181490662711151...,5657126610646743095274811678751076427526211721...,6130106417283103152110191206062108541001086568...,4993113492630102104471574857810811611610242744...,2468108772610211726661710894100462656658339624...,1201031176245410115811762904068757259575548789...,119701011087336691149511984,111
Iowa,23115107481183011410820535475,2850846922309959512070789916382098631134751311...,NaN,4111410568105831071254312111396110610694109119...,8640119284330116736477538411128797120718271182...,2486634695114337039401111084259915364774372991...,1124846331110112496431174029481131420106496820...,7053112848710910124783965691038780112993180971...,4228727511062991148324106258854953651711053010...,553570802224101159654675619147945,701539104
Kansas,1069082838087248510819100,1145114268844105105632118923049110125812010137...,51,7510417991062310456655177106701102545503890105...,2230121455473814911066310977546187245022109423...,1511620741310510952631957415652106451112011885...,6717116241131234393398259923483710482473111110...,7052851181058949108115203882331131114962111428...,1036990636910957235841217688111335809862869724...,6921301043788933106673320413447462112405385635...,1206796118
Kentucky,67101785728161042223,8958603073101025293669010491624592973641198473...,NaN,1693871081122050109288810312971171388416911213...,5121549561611041191081011836113574729101506516...,2211075116237647966411255821457115547915345893...,9211103911114894657273362705226838397629311569...,1036280115108110429611211323721135668727478822...,5255883946931543821741231566652213301108844102...,1101461821627839084613611680108,7453542790109
Louisiana,738510911504354,6153182578631004695401411211142288037116413801...,NaN,2177868363110509435889327102331745703619286020...,2811551939690178357942760128314102542910493243...,1135524688750118249689104801051147419185054985...,6010029292716118433355805210739771111096610972...,5478731012011662117117331011117321456119782496...,5638108120277115863844251052020114299452862640...,19406468211010443851074646,268770
Maine,11644055807258,7119256627619366109511103346709249353199946957...,NaN,1055562497214102114103105442371117243998107362...,8935462978493421704168369811552336577452189113...,6584173245555565912393132631675687619510212351...,6411443105131031121059016821199511126464411601...,5596153622412375884580771045863953930431017116...,4354792018939710872254866896410810221178111697...,110316111387952494613444848381036710611895624493,83
Maryland,49696898,8411610866741029112105351191126011256718540646...,NaN,8354634034891728176984454782929010069643113106...,2322615699104104651510666684619107992910916839...,9612084511111731051086520841037118111112484510...,9479196911932832420819510399107138543852116117...,1032789105341155460747089191275252911719108704...,9972301914108496398446320654433595897551158310...,1292263786322769116057611207994861121095588957...,10673
Massachusetts,391990841151649,9771111868774194370966914516911578116444747165...,NaN,9098473669883131823941439676119771167743214757...,7558161201082929915987105131081001116411362214...,7511210398703385118707975115102946890246960693...,9291669310511810066113363939104751011970209189...,9310891873032101105027104889612048891167269641...,2259111875638471053942261199662935320421181141...,10375301141342211371612157826486,70106
Michigan,1945611167755746195,7569731206158861725556326941524601661946417941...,105,7111441299744528028389373108422535897216102127...,8438485341559916116261021129166461115249115411...,2078689614381121021164057485844615744881062128...,2143464510010775581201052614109311690127747267...,6426725210980847472339231546154191081014011048...,8928206647397533117853210449672812075265757282...,41521035697511829611137171436731997112081338526,32
Minnesota,38507179465483102,5328118396647703711410564676625441176385472521...,NaN,3284102715962911064110711829248596110328992651...,8915101226495703020824492822131275111337587385...,3592171324222930427785852814534910420653569112...,2158792312079794068213299191073461103901042910...,2789176911937927211211087739365897158601455451...,1737102711152922118827021391011012766116641061...,3652307444856081848151971024651,70
Mississippi,2711925571143311810060,3639128652463792116107951154611332815311910761...,NaN,1481242622111936811599110158026110531079712067...,1164536625962093195775103138615161061031011539...,8011110745806444503037261045765721044539161171...,1074886381057514691310211191127850717550104674...,9610643866118975381571173323971178072657511328...,4939555640106335539753491801036291337472116499...,5436100961196212120546746539499382011271113,141215
Missouri,97103915881259750,6980714511532925714671091115785113102964660118...,NaN,3047999832117100101257431931111196965667997843...,1121147366317264115759927898865169811463888593...,1111191644771134945803128834111167395675841131...,3014725913341151026390766911233213736731066182...,9111812032119254221784931385383121034977192468...,1138812042437688339915361024728991104599569282...,1001001911359501741100614440112,769110
Montana,9518767033993835981129218,1167340212812108197292971710571101154043481041...,NaN,9139174011951856911055397068120362972961202189...,1135383154235171081164710731101578350845110370...,1047611621191187259254020499069565818653268112...,1021181211153325841837224613669711981181210010...,1141143768411011193978811125111584566612612010...,4610025939768118378575834610357637427618395225...,44763242259420296911711260107696741695621,7323112
Nebraska,1081611211374918333108105,1022978110115858582541163633727131287786147211...,NaN,1017811874117199547523511036831128482997576108...,5350447491554260865710372107058109156824406681...,6571815519281061152210098888949408043406878501...,6964711083871137401071411910452154354923115118...,8868492593534046181111918211195787698791772711...,3929854220696588522158102159010518297963811074...,912589119406958351842117561095630264586,43649737
Nevada,95446043606063375098854611565,8051343575592043196023151131194649343010621115...,NaN,8014734411418672212945297102125911541113699746...,7811910337365636431911611006011553938368206310...,1181495201137577185988104945544692356417120731...,9261778511936815557812412035801333831056417636...,1189826261159454117596064107209455102199761034...,1824413872238156144110211616598612547358948840...,2943108989932193678118331076310595,10597117
New Hampshire,2210110538174930111,5061146660641095711977321179218885742912284221...,115,4622331927575051781126637255610157126911550111...,9611290467611567746258395530427684726160985273...,1164437641206455874112063558497595442319748986...,3117192619468229228638443327401138032118116224...,6611880501108463366657514530212234819554721171...,4811112975513105786210311886809710196793272514...,561965517322601396554928,695298
New Jersey,25859563691356,1545113787464111113251059511274576689999497101...,NaN,3522659928981106079635672785417121165827563381...,8237107643235611611711166754019108104944324110...,1711360927031218448745910011311691992711397611...,1117756691039923109310717633011210044116981978...,8211011510781904510152485734549530807780701041...,6955663143115929429119802532878427929244426010...,81838010170172482118946647105305732209322,88
New Mexico,10711798864210048541061179562111003594116,1412057901862107861051108347109558810065798397...,NaN,3638585140923745119196899268912798794731031617...,7416353353105317011366268188104696745641121082...,8488403196559374898530110481131156086967011864...,1202890976290118601133880283810179521096342107...,9452144617992461111148311986460104835527248372...,7011310126115106355960293193581035736399259107...,86593610221103233480931198247,10404744
New York,1109351275714734797,1072098663410882196643325810578505861385511862...,NaN,6752521205622482649129735944877424023105327729...,7334292911589118591094210246868910052115383160...,1003960293585485511723272236102685182119272115...,3910011421161191043641943011154469176819611142...,9619571202733141281408240621136099281162010057...,3195117108721065745486186981137785103034809911...,8510726536370105959543818698118437964710657123...,13343782
North Carolina,10959472710567951970573943,3459246068107524377704699981136191022388749411...,NaN,4741172887192813943079452197337098147264507611...,5749211004110226641811744211366683097967592233...,2610098226012084766453158995108117115120205579...,7910155471079510297416109201137977741001355601...,3058104424432471199453761189810347665468562939...,3014603615368510627120641052556209919501096865...,35489982104401131118247721126122106011887435083,1365778992
North Dakota,6186466110242591102456166742,2073807314119286519104569953369450921051052292...,104,4046988987385320146285854196245282561204694899...,1172638556740971111723354622545862592458261278...,1137529862384109010225879911142646747928328128...,1207690426194805011045527313866396384124585110...,1178711696861159910491111059790104791041016310...,6489639118594089104342156362857829124902484183...,3136279752174649851011610086115111109508575,24111
Ohio,164330955590367634,7923513911171861045970702346866426967860529481...,82,3719188511963735153104451866106633285351178633...,7027948346179197106377190117335827721538113988...,2521759598821684559827636270796565541912534432...,8082347354626636701123585106611810619714473222...,1017112327241929210068323010968526510165583884...,1914110117993277723457545611971156740112614170...,104253752314371113621102068289270857677,6956
Oklahoma,5143704915476436115243113112082,6224221208210353166948963551781032835105489240...,NaN,1011078199995617943890905511328381073811875113...,1131109510551986763951010968741168519847955104...,4676447192982021108112598933783446014119125713...,9519172810611016867446100226111048713117439551...,7410525465183803714834711611967716910553624241...,9858386894837983335331416661613416523343984824...,5918498092987310623101765716326,17110
Oregon,88117118968644962102109116696965,8666163828864815112282772117412039521081028481...,NaN,5129513266120108534316112106116901560864297544...,4558831178102985116597339263581846411611882501...,2870707867715910541899672239031621106142343533...,2224181097414951044424510762026423394100117224...,8810542733488609711281105107749547332940781034...,8510130932511051145096667368641176374106110181...,8911347416697707992100632119476462761363671081...,401039331107
Pennsylvania,271002578691886113701613597739,6931774811362998546431134310079102598010091669...,NaN,1084755227328241211151089674628611557504968597...,1092729476011611434462025235990271197910811797...,7879371073126948664104266932261203558774643196...,3957106749528795610225114645435122428781131137...,4028105856595679318115381175456247411311797562...,1011224604310741136331612671746340746111115878...,426310210435331027846328627791253334221991062835,247429
Rhode Island,11297108111762733931749117111103199397,9221799699116626698211208211659153210799664421...,30,5411479961268381498184098115389040181713518823...,7836118833932111309698365515841284395961701052...,6711311211326310010745317828341058068971118818...,1014223684410897931002841611510010931105439107...,6093316378521161162085411176210924832671980252...,1087434584415895934769211611984104124710410957...,1159243275410884551003485138062861039862552711...,4916
South Carolina,2559364473561127105107,5643161147882115862491259311542771799105708479...,NaN,1363366185681122388115262838391883185448115120...,2210443721161835592276633138974811458828634609...,9634934710767259412069114111155810112515465278...,1124483100327710919505637113649212083439050103...,4072402211784874909431355710720151112856319682...,2356103313411049104252127761289491178869741083...,8610837118841018330608111299861952266611764712...,3611897
South Dakota,331032693759430356966,4879305741232411420292476792444137589826440341...,NaN,7887895829284485586988602512028231013011029341...,4342561520256632111801167686120649893641159412...,1154074826210698121176322881132943779674197125...,7498120726537661079911946421084676351121188311...,6131132122442529767895751195644183972112150775...,2710471053657871125916264795944394321041148913...,691242354041981107487143434,15
Tennessee,10056511071066813401084337,3074118894387561963434915120668629109110661051...,NaN,9415228972723425878670163311310199346939645924...,1064905057152510211277348630615757591946641210...,1061793120145212110876710968635370106554458765...,1132228138260728752456375546216512410810411421...,1087379892970172094641036891198693578410325981...,1108370285338956815108120172174567694492328105...,8790191211771437555136364110,8684
Texas,34704457197950114107100,3278258081120852572251112437967973274060159828...,NaN,5797611135041591209845119644712251057999271168...,3973304757669637341046857991041758613710612015...,3758355390111345612316539107100957354185162349...,2318105100253488152819113175310682751611121132...,1003853120593010410012324328347516119111694010...,8310121112837411844110734278115299452033261071...,3784635210459101481041098731113,17
Utah,57366551,1189757284369324793491112466491668937411660424...,NaN,4227104119689441107615110663834110089931880697...,8151929524141673106450627210483120293712202318...,8665317779571146510154162161047712100125615101...,5590791064423679476411085044864930348841104741...,3631178627329372922710221459788515114117331893...,1141122770759422112987153874228522031101110933...,27919629112110102226893630,2116222178
Vermont,82481411389549750106,2995115386557531123668101004123247119116291722...,NaN,2810232609652221074277511148049179730402810588...,9292689681945054101201006893214062415897688714...,8697491051201071479785574141021143511062134940...,4611810248278367477464721033028301041151105325...,1151411777421339119114779547484910948985559522...,7741161001931100633486241105631868210111598529...,3379109584658101043011890481019643447813,58261111564
Virginia,691008980948669,1049318731161146659101221062612021801058410182...,NaN,4811511993176892362823114751550911145511110071...,4727119769786343415222157104176645101148010100...,2711923411171023511363513166391195951153825551...,3573235570104841582961144294793474194989113921...,1141181113731100228749209045915911622132269118...,8476298292662191381121511670105607233441082298...,9757114978736749170955281522710380,38

#Alternative Libraries

##Polar

In [ ]:
pip install polars

Requirement already satisfied: polars in /usr/local/lib/python3.10/dist-packages (0.17.3)
Requirement already satisfied: typing_extensions>=4.0.1 in /usr/local/lib/python3.10/dist-packages (from polars) (4.5.0)

In [ ]:
import polars as pl

In [ ]:
dfpl = pl.read_csv("/content/sample_data/healthcare_data_cleaning.csv")
print("Number of rows:", dfpl.shape[0])
print("Number of columns:", dfpl.shape[1])
print(dfpl.sample(8))

Number of rows: 105000
Number of columns: 20
shape: (8, 20)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ Patient   â”† Gender â”† City of    â”† State of   â”† â€¦ â”† Last Visit â”† Visit      â”† Number of  â”† Prescripti â”‚
â”‚ Age       â”† ---    â”† Residence  â”† Residence  â”†   â”† (days ago) â”† Duration   â”† Tests      â”† on Cost    â”‚
â”‚ ---       â”† str    â”† ---        â”† ---        â”†   â”† ---        â”† (mins)     â”† ---        â”† ($)        â”‚
â”‚ str       â”†        â”† str        â”† str        â”†   â”† str        â”† ---        â”† str        â”† ---        â”‚
â”‚           â”†        â”†            â”†            â”†   â”†            â”† str        â”†            â”† str        â”‚
â•žâ•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•¡
â”‚ 64        â”† Male   â”† Mariaport  â”† New        â”† â€¦ â”† 176        â”† 90         â”† 3          â”† 40.9429582 â”‚
â”‚           â”†        â”†            â”† Hampshire  â”†   â”†            â”†            â”†            â”† 1764199    â”‚
â”‚ 67        â”† Other  â”† Adammouth  â”† Maine      â”† â€¦ â”† 175        â”† 117        â”† missing    â”† 89.7135583 â”‚
â”‚           â”†        â”†            â”†            â”†   â”†            â”†            â”†            â”† 6581621    â”‚
â”‚ 59        â”† Other  â”† Louisfurt  â”† missing    â”† â€¦ â”† 197        â”† 104        â”† 5          â”† 38.2885351 â”‚
â”‚           â”†        â”†            â”†            â”†   â”†            â”†            â”†            â”† 7140631    â”‚
â”‚ 24        â”† Other  â”† Lake Kenne â”† Maryland   â”† â€¦ â”† 172        â”† 99         â”† missing    â”† 64.9331801 â”‚
â”‚           â”†        â”† thshire    â”†            â”†   â”†            â”†            â”†            â”† 2449463    â”‚
â”‚ 33        â”† Other  â”† Nathanview â”† Rhode      â”† â€¦ â”† 176        â”† 106        â”† 5          â”† 39.3519000 â”‚
â”‚           â”†        â”†            â”† Island     â”†   â”†            â”†            â”†            â”† 7756906    â”‚
â”‚ 27        â”† Male   â”† Travistown â”† Minnesota  â”† â€¦ â”† 182        â”† 62         â”† 4          â”† 143.137601 â”‚
â”‚           â”†        â”†            â”†            â”†   â”†            â”†            â”†            â”† 87574465   â”‚
â”‚ 71        â”† Female â”† Samuelfort â”† Pennsylvan â”† â€¦ â”† 204        â”† 58         â”† 4          â”† 48.1839685 â”‚
â”‚           â”†        â”†            â”† ia         â”†   â”†            â”†            â”†            â”† 2302397    â”‚
â”‚ 44        â”† Other  â”† missing    â”† missing    â”† â€¦ â”† 181        â”† missing    â”† 3          â”† 56.0897160 â”‚
â”‚           â”†        â”†            â”†            â”†   â”†            â”†            â”†            â”† 4475087    â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

##Dask
Dask does not load the csv properly

In [ ]:
pip install dask

In [ ]:
import dask.dataframe as dd

In [ ]:
dfdask = dd.read_csv("/content/sample_data/healthcare_data_cleaning.csv")
dfdask

Dask DataFrame Structure:
              Patient Age  Gender City of Residence State of Residence Has Insurance Visited Last Month Payment Method Preferred Doctor Disease Diagnosed Medication Prescribed Type of Appointment Average Heart Rate Average BP Height (in cm) Weight (in kg) Payment Due ($) Last Visit (days ago) Visit Duration (mins) Number of Tests Prescription Cost ($)
npartitions=1
                    int64  object            object             object        object             object         object           object            object                object              object              int64     object         object          int64          object                object                object           int64               float64
                      ...     ...               ...                ...           ...                ...            ...              ...               ...                   ...                 ...                ...        ...            ...            ...             ...                   ...                   ...             ...                   ...
Dask Name: read-csv, 1 graph layer

##Modin

In [ ]:
pip install "modin[all]"

In [ ]:
import modin.pandas as mpd

In [ ]:
dfmod = mpd.read_csv("/content/sample_data/healthcare_data_cleaning.csv")
print(dfmod.head)

UserWarning: Ray execution environment not yet initialized. Initializing...
To remove this warning, run the following python code before doing dataframe operations:

    import ray
    ray.init()

UserWarning: The size of /dev/shm is too small (6133121024 bytes). The required size at least half of RAM (6806657024 bytes). Please, delete files in /dev/shm or increase size of /dev/shm with --shm-size in Docker. Also, you can can override the memory size for each Ray worker (in bytes) to the MODIN_MEMORY environment variable.
2023-09-11 00:38:57,832	INFO worker.py:1621 -- Started a local Ray instance.

<bound method BasePandasDataset.head of        Patient Age  Gender  City of Residence State of Residence  \
0               45   Other         West Brian           Kentucky
1               25  Female   East Jocelynfurt           Colorado
2               51   Other  South Lindseyland               Ohio
3               18  Female         Taylorfort       Pennsylvania
4               48  Female          Birdmouth            Montana
...            ...     ...                ...                ...
104995          74   Other       West Anthony           Oklahoma
104996          37    Male          Mckeetown               Utah
104997          51  Female   Lake Lisachester           Nebraska
104998     missing  Female       Heidiborough            missing
104999          45  Female      South Jeffrey      Massachusetts

       Has Insurance Visited Last Month Payment Method Preferred Doctor  \
0                Yes                Yes      Insurance     Dr. Williams
1                 No                Yes           Card      Dr. Johnson
2                Yes                 No           Cash     Dr. Williams
3                Yes            missing           Cash     Dr. Williams
4                 No                 No      Insurance        Dr. Brown
...              ...                ...            ...              ...
104995           Yes                 No           Card     Dr. Williams
104996           Yes                 No           Cash        Dr. Jones
104997           Yes                Yes      Insurance     Dr. Williams
104998           Yes                 No           Cash        Dr. Smith
104999            No                Yes           Cash        Dr. Brown

       Disease Diagnosed Medication Prescribed Type of Appointment  \
0                    Flu                 Med_E             General
1                    Flu                 Med_B          Specialist
2               Covid-19                 Med_D             General
3                    Flu                 Med_A             General
4                    NaN                 Med_C          Specialist
...                  ...                   ...                 ...
104995          Covid-19                 Med_E          Specialist
104996          Covid-19                 Med_C             General
104997           Allergy                 Med_D           Follow-Up
104998          Covid-19                 Med_A           Follow-Up
104999           Allergy                 Med_D             General

       Average Heart Rate Average BP Height (in cm) Weight (in kg)  \
0                      66        111            183             70
1                      59    missing            174             58
2                      79        119            161             56
3                      99        115            171             52
4                      93         89            186             87
...                   ...        ...            ...            ...
104995                 65        112            169             61
104996            missing        111            165             67
104997                 89        118            179             71
104998                 74        123            167             75
104999                 77        140            167             62

           Payment Due ($) Last Visit (days ago) Visit Duration (mins)  \
0        65.45721578126224                   193                    92
1       430.68365678679174                   195               missing
2        315.0709305262176               missing                    37
3        320.2998987723972                   175                   108
4        264.2147372473319                   188                   113
...                    ...                   ...                   ...
104995  309.16444606680665                   183                    10
104996             missing                   191                    47
104997   320.8304180033907                   172                    39
104998   5.341231420036174                   180                    79
104999  454.94983945860804                   167                    81

       Number of Tests Prescription Cost ($)
0                    5     15.71751735532889
1                    4     80.78647284463952
2                    2      64.3921393009105
3                    2     8.872859215315316
4                    3     77.48311304645532
...                ...                   ...
104995               3     63.20478776719894
104996               2    113.86764025370326
104997               3    35.622420232475356
104998         missing     124.4083409893742
104999         missing     87.91060149353706

[105000 rows x 20 columns]>

##Times
Modin seems to execute slower than polar by one second

In [ ]:
import time

In [ ]:
dataset_path = ('/content/sample_data/healthcare_data_cleaning.csv')

In [ ]:
start_time = time.time()
modin_df = mpd.read_csv(dataset_path)
modin_filtered = modin_df[modin_df['Gender'] == 'Other']
modin_average_age = modin_filtered['Average Heart Rate'].sum()
modin_time = time.time() - start_time

print(f"Modin Execution Time: {modin_time:.4f} seconds")

start_time = time.time()
polars_df = pd.read_csv(dataset_path)
polars_filtered = polars_df[polars_df['Gender'] == 'Other']
polars_average_age = polars_filtered['Average Heart Rate'].sum()
polars_time = time.time() - start_time

print(f"Polars Execution Time: {polars_time:.4f} seconds")

Modin Execution Time: 2.9680 seconds
Polars Execution Time: 1.0519 seconds